.edit-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.edit-posts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.edit-posts-form {
    display: flex;
    flex-direction: column;
}

.edit-caption {
    border-radius: 6px;
}

.update-post {
    margin: 10px 0 0 0;
}

.delete-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 80vw;
    height: 15vh;
    margin: 0 auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.delete-post-h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .edit-posts-image {
        height: 50%;
        width: auto;
    }
}
