.content-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.content-feed {
    width: 90vw;
    border-radius: 6px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.posts-in-feed {
    width: 80vw;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.post-in-feed {
    width: 80vw;
    border-radius: 6px;
}

.icons {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icons:focus {
    outline: none;
}

.no-style-button {
    background: none;
    width: 20px;
    margin: 5px 5px 5px 0;
}

.no-style-button:focus {
    outline: none;
}

.poster-name-in-feed {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-caption-in-feed {
    margin: 0 0 10px 0;
    font-size: 12px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .posts-in-feed {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid white;
        width: 100%;
    }

    .content-feed {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .posts-in-feed .post-in-feed {
        width: 30vw;
        margin: 0 auto;
    }
}
