*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
}

a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style-type: none;
}

.background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.title {
    font-family: "Bebas Neue", cursive;
    font-size: 32px;
}

.login-container,
.sign-up-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login,
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    border-radius: 6px;
    width: 80vw;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.sign-up {
    height: 50vh;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input {
    width: 70vw;
    height: 5vh;
    border: 2px solid #222222;
    border-radius: 6px;
    padding: 5px;
    font-size: 18px;
}

.input:focus {
    outline: none;
}

button {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background: white;
    color: #222222;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 250ms ease;
    font-size: 18px;
}

button:hover {
    transform: scale(1.06);
}

.test {
    height: 100vh;
}

.start-info-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.start-info {
    border-radius: 6px;
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
}

.sign-up-btn {
    color: #222222;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .login,
    .sign-up {
        height: 32vh;
        width: 30vw;
    }

    .sign-up {
        height: 55vh;
    }

    .input {
        width: 25vw;
        height: 5vh;
    }

    .start-info {
        width: 40vw;
        height: 40vh;
    }
}
