*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: salmon;
}

a {
  text-decoration: none;
  color: #222222;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style-type: none;
}

.title {
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
}
