*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

*:focus {
    outline: none;
}

.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.input {
    width: 100%;
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
}

.login-container,
.sign-up-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login,
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    border-radius: 6px;
    width: 80vw;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.sign-up {
    height: 50vh;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

button {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background: white;
    color: #222222;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 250ms ease;
    font-size: 18px;
}

button:hover {
    transform: scale(1.06);
}

h1 {
    color: white;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .login,
    .sign-up {
        height: 32vh;
        width: 30vw;
    }

    .sign-up {
        height: 55vh;
    }

    .input {
        width: 15vw;
        height: 25px;
        font-size: 16px;
    }
}
