*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
}

a {
    text-decoration: none;
    color: white;
}

button a {
    color: #222222;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style-type: none;
    font-size: 12px;
}

.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.title {
    font-family: "Bebas Neue", cursive;
    font-size: 22px;
}

.login-container,
.sign-up-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login,
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    border-radius: 6px;
    width: 80vw;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.sign-up {
    height: 50vh;
}

.form-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input {
    width: 70vw;
    height: 5vh;
    border: 2px solid #222222;
    border-radius: 6px;
    padding: 5px;
    font-size: 18px;
}

.input:focus {
    outline: none;
}

/* FEED */

.posts-in-feed {
    width: 80vw;
}

.post-in-feed {
    width: 80vw;
    border-radius: 6px;
}

.icons {
    width: 20px;
    height: 20px;
}

.no-style-plz {
    background: none;
    width: 20px;
    margin: 5px;
}

.poster-name-in-feed {
    font-size: 14px;
    margin-top: 10px;
}

.post-caption-in-feed {
    margin: 20px 0;
}

/* FEED ENDS */

button {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background: white;
    color: #222222;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 250ms ease;
    font-size: 18px;
}

button:hover {
    transform: scale(1.06);
}

.account-btn {
    margin: 0 10px 0 0;
    margin-left: 0;
}

.account-input {
    width: 60vw;
    border-radius: 6px;
    padding: 5px;
    margin: 10px 0;
}

.avatar-input {
    padding-left: 0;
}
.biography-input {
    width: 70vw;
    border-radius: 6px;
}

.start-info-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.start-info {
    border-radius: 6px;
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
}

.sign-up-btn {
    color: #222222;
}

.content-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.content-feed {
    width: 90vw;
    border-radius: 6px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

h1 {
    color: white;
}

.avatar-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    padding-top: 10vh;
}

.posts-header {
    display: flex;
    align-items: center;
    height: auto;
}

.posts-h1 {
    margin-left: 20px;
}

.posts-h1,
.account-settings-header {
    color: white;
    text-decoration: underline;
}

.account-settings-header {
    align-self: flex-start;
    margin-bottom: 20px;
}

.pwd-change,
.email-change,
.bio-change,
.posts-container,
.avatar-change {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 80vw;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid white;
}

.posts-container {
    border: none;
    border-radius: 6px;
}

.bio-change {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.pwd-change {
    border: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 20px;
}

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: 20px 0;
}

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    border-radius: 6px;
}

.textarea {
    resize: none;
    font-size: 14px;
}

.test {
    display: flex;
    align-items: center;
    height: 100vh;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.posts img {
    height: 50px;
    width: auto;
    object-fit: contain;
    /* border-radius: 2px; */
}

.posts p {
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .title {
        font-size: 32px;
    }

    nav ul {
        font-size: 18px;
    }

    .account-input {
        width: 20vw;
    }

    .biography-input {
        width: 76vw;
    }

    .login,
    .sign-up {
        height: 32vh;
        width: 30vw;
    }

    .sign-up {
        height: 55vh;
    }

    .content-feed {
        width: 50vw;
    }

    .input {
        width: 25vw;
        height: 5vh;
    }

    .start-info {
        width: 40vw;
        height: 40vh;
        text-align: center;
    }

    .posts {
        border: none;
    }

    .posts img {
        height: 150px;
        width: auto;
    }

    .post-in-feed {
        width: 30vw;
    }
}
