.start-info-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.start-info {
    border-radius: 6px;
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
}

.sign-up-btn {
    width: 30vw;
    height: 40px;
    color: #222222;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
    .start-info {
        width: 40vw;
        height: 40vh;
        text-align: center;
    }
}
